<div class="container">
  <h1>🌍 Country Select Demo</h1>

  <!-- Installation instructions -->
  <div class="example">
    <h2>Installation</h2>
    <div class="code">
      <pre><code class="language-html">
ng add &#64;wlucha/ng-country-select
        </code></pre>
    </div>
  </div>

  <!-- Example 1: Appearance Outline -->
  <div class="example">
    <h2>1. Outline Appearance</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  appearance="outline"
&gt;&lt;/ng-country-select&gt;
      </code></pre>
    </div>
    <div class="preview">
      <ng-country-select appearance="outline"></ng-country-select>
    </div>
  </div>

  <!-- Example 2: Exclude countries -->
  <div class="example">
    <h2>2. Exclude countries</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [excludeCountries]="['US', 'DE', 'FR']"
&gt;&lt;/ng-country-select&gt;
      </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [excludeCountries]="['US', 'DE', 'FR']"></ng-country-select>
    </div>
  </div>

  <!-- Example 3: Include countries -->
  <div class="example">
    <h2>3. Include countries</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [includeCountries]="['US', 'DE', 'FR']"
&gt;&lt;/ng-country-select&gt;
      </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [includeCountries]="['US', 'DE', 'FR']"></ng-country-select>
    </div>
  </div>

  <!-- Example 4: Default country (non-FormControl) -->
  <div class="example">
    <h2>4. Set Default Country (non-FormControl)</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [defaultCountry]="presetCountry"
&gt;&lt;/ng-country-select&gt;
      </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [defaultCountry]="presetCountry"></ng-country-select>
    </div>
  </div>

  <!-- Example 5: Default country (FormControl) -->
  <div class="example">
    <h2>5. Set Default Country (FormControl)</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [formControl]="countryControl"
&gt;&lt;/ng-country-select&gt;
        </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [formControl]="countryControl"></ng-country-select>
    </div>
  </div>

  <!-- Example 6: Set language & placeholder -->
  <div class="example">
    <h2>6. Set language & placeholder</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [lang]="'es'" // Set spanish as language
  [placeholder]="'Seleccionar país'"
  [defaultCountry]="presetCountry"
&gt;&lt;/ng-country-select&gt;
            </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [lang]="'es'" [placeholder]="'Seleccionar país'"
        [defaultCountry]="presetCountry"></ng-country-select>
    </div>
  </div>

  <!-- Example 7: Show alpha2/alpha3 codes -->
  <div class="example">
    <h2>7. Show Alpha2/Alpha3 Codes</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [showCodes]="true"
&gt;&lt;/ng-country-select&gt;
              </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [showCodes]="true"></ng-country-select>
    </div>
  </div>

  <!-- Example 8: Hide flag -->
  <div class="example">
    <h2>8. Hide Flag</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [showFlag]="false"
&gt;&lt;/ng-country-select&gt;
                </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [showFlag]="false"></ng-country-select>
    </div>
  </div>

  <!-- Example 9: Show Alpha2 -->
  <div class="example">
    <h2>9. Show Alpha2</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [alpha2Only]="true"
&gt;&lt;/ng-country-select&gt;
                </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [alpha2Only]="true"></ng-country-select>
    </div>
  </div>

  <!-- Example 10: All Inputs and Outputs -->
  <div class="example">
    <h2>10. All Inputs & Outputs</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [lang]="'de'"
  [formControl]="countryControl"
  [showCodes]="true"
  [color]="'primary'"
  [searchAllLanguages]="true"
  [appearance]="'outline'"
  [required]="true"
  [disabled]="false"
  [alpha2Only]="false"
  [alpha3Only]="false"
  [showFlag]="true"
  [placeholder]="'Land auswählen'"
  [debounceTime]="200"
  (countrySelected)="onCountrySelected($event)"
  (inputChanged)="onInputChanged($event)"
&gt;&lt;/ng-country-select&gt;
      </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [lang]="'de'" [formControl]="countryControl" [defaultCountry]="presetCountry" [required]="true"
        [disabled]="false" [showCodes]="true" [color]="'primary'" [searchAllLanguages]="true" [appearance]="'outline'"
        [alpha2Only]="false" [alpha3Only]="false" [placeholder]="'Land auswählen'" [debounceTime]="200"
        [showFlag]="true" (countrySelected)="onCountrySelected($event)"
        (inputChanged)="onInputChanged($event)"></ng-country-select>
      <div>
        Selected: {{ countryControl.value | json }}
      </div>
    </div>
  </div>
</div>