<div class="container">
  <h1>🌍 Country Select Demo</h1>

  <!-- Installation instructions -->
  <div class="example">
    <h2>Installation</h2>
    <div class="code">
      <pre><code class="language-html">
ng add &#64;wlucha/ng-country-select
        </code></pre>
    </div>
  </div>

  <!-- Example 1: Appearance Outline -->
  <div class="example">
    <h2>1. Outline Appearance</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  appearance="outline"
&gt;&lt;/ng-country-select&gt;
      </code></pre>
    </div>
    <div class="preview">
      <ng-country-select appearance="outline"></ng-country-select>
    </div>
  </div>

  <!-- Example 2: Exclude countries -->
  <div class="example">
    <h2>2. Exclude countries</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [excludeCountries]="['us', 'de', 'fr']"
&gt;&lt;/ng-country-select&gt;
      </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [excludeCountries]="['us', 'de', 'fr']"></ng-country-select>
    </div>
  </div>

  <!-- Example 3: Include countries -->
  <div class="example">
    <h2>3. Include countries</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [includeCountries]="['us', 'de', 'fr']"
&gt;&lt;/ng-country-select&gt;
      </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [includeCountries]="['us', 'de', 'fr']"></ng-country-select>
    </div>
  </div>

  <!-- Example 4: Default country (non-FormControl) -->
  <div class="example">
    <h2>4. Set Default Country (non-FormControl)</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [defaultCountry]="presetCountry"
&gt;&lt;/ng-country-select&gt;
      </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [defaultCountry]="presetCountry"></ng-country-select>
    </div>
  </div>

  <!-- Example 5: Default country (FormControl) -->
  <div class="example">
    <h2>5. Set Default Country (FormControl)</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [formControl]="countryControl"
&gt;&lt;/ng-country-select&gt;
        </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [formControl]="countryControl"></ng-country-select>
    </div>
  </div>

  <!-- Example 6: Set language & placeholder -->
  <div class="example">
    <h2>6. Set language & placeholder</h2>

    <mat-tab-group>
      <mat-tab label="HTML">
        <div class="code">
          <pre><code class="language-html">
  &lt;ng-country-select
    [lang]="selectedLang"
    [placeholder]="placeholderMap[selectedLang]"
    [defaultCountry]="presetCountry"
  &gt;&lt;/ng-country-select&gt;
          </code></pre>
        </div>
      </mat-tab>

      <mat-tab label="TypeScript">
        <div class="code">
          <pre><code class="language-typescript">
  import &#123; Component &#125; from '&#64;angular/core';
  import &#123; CountrySelectComponent, Country &#125; from '&#64;wlucha/ng-country-select';
            
  &#64;Component&#123; 
      selector: 'app-country-select', 
      templateUrl: './country-select.component.html', 
      styleUrls: ['./country-select.component.css'],
      imports: [CountrySelectComponent]
    &#125;
    export class CountrySelectExampleComponent &#123;
      selectedLang: string = 'en';
      placeholderMap = &#123;
        'en': 'Select Country',
        'de': 'Land auswählen',
        'fr': 'Choisir un pays',
        'es': 'Seleccionar país',
        'zh': '选择国家',
        'ar': 'اختر الدولة',
        'hi': 'देश चुनें',
        'bn': 'দেশ নির্বাচন করুন',
        'pt': 'Selecionar país',
        'ru': 'Выберите страну'
      &#125;;
      presetCountry: string = 'US';
  &#125;
            </code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="preview two-column-layout">
      <div class="left-column">
        <ng-country-select [lang]="selectedLang" [placeholder]="placeholderMap[selectedLang]"
          [defaultCountry]="presetCountry">
        </ng-country-select>
      </div>

      <div class="right-column">
        <mat-radio-group [(ngModel)]="selectedLang" class="radio-group">
          <div class="radio-column">
            <mat-radio-button [value]="'en'">English</mat-radio-button>
            <mat-radio-button [value]="'de'">Deutsch</mat-radio-button>
            <mat-radio-button [value]="'fr'">Français</mat-radio-button>
            <mat-radio-button [value]="'es'">Español</mat-radio-button>
            <mat-radio-button [value]="'zh'">中文</mat-radio-button>
          </div>

          <div class="radio-column">
            <mat-radio-button [value]="'ar'">العربية</mat-radio-button>
            <mat-radio-button [value]="'hi'">हिंदी</mat-radio-button>
            <mat-radio-button [value]="'bn'">বাংলা</mat-radio-button>
            <mat-radio-button [value]="'pt'">Português</mat-radio-button>
            <mat-radio-button [value]="'ru'">Русский</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
    </div>
  </div>

  <!-- Example 7: Show alpha2/alpha3 codes -->
  <div class="example">
    <h2>7. Show Alpha2/Alpha3 Codes</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [showCodes]="true"
&gt;&lt;/ng-country-select&gt;
              </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [showCodes]="true"></ng-country-select>
    </div>
  </div>

  <!-- Example 8: Hide flag -->
  <div class="example">
    <h2>8. Hide Flag</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [showFlag]="false"
&gt;&lt;/ng-country-select&gt;
                </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [showFlag]="false"></ng-country-select>
    </div>
  </div>

  <!-- Example 9: Show Alpha2 -->
  <div class="example">
    <h2>9. Show Alpha2</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [alpha2Only]="true"
&gt;&lt;/ng-country-select&gt;
                </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [alpha2Only]="true"></ng-country-select>
    </div>
  </div>

  <!-- Example 10: Set a country programmatically by Alpha2 -->
  <div class="example">
    <h2>10. Set a country programmatically by Alpha2</h2>
    <div class="code">
      <pre><code class="language-html">
  &lt;ng-country-select
    [selectedCountryByAlpha2]="alpha2Country"
  &gt;&lt;/ng-country-select&gt;
                  </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [selectedCountryByAlpha2]="alpha2Country"></ng-country-select>
      <div> <button mat-raised-button (click)="setCountryByAlpha2()">Set Germany as country</button></div>
    </div>
  </div>

    <!-- Example 11: Set a country programmatically by Alpha3 -->
    <div class="example">
      <h2>11. Set a country programmatically by Alpha3</h2>
      <div class="code">
        <pre><code class="language-html">
    &lt;ng-country-select
      [selectedCountryByAlpha3]="alpha3Country"
    &gt;&lt;/ng-country-select&gt;
                    </code></pre>
      </div>
      <div class="preview">
        <ng-country-select [selectedCountryByAlpha3]="alpha3Country"></ng-country-select>
        <div> <button mat-raised-button (click)="setCountryByAlpha3()">Set Germany as country</button></div>
      </div>
    </div>

    <!-- Example 12: Using required fields -->
    <div class="example">
      <h2>12. Using required fields</h2>
      <div class="code">
        <pre><code class="language-html">
    &lt;ng-country-select
      [required]="true"
      [requiredErrorMessage]="'Please select a country'"
      [showRequiredErrorMessage]="true"
    &gt;&lt;/ng-country-select&gt;
                    </code></pre>
      </div>
      <div class="preview">
        <ng-country-select [required]="true" [requiredErrorMessage]="'Please select a country'" [showRequiredErrorMessage]="true"></ng-country-select>
      </div>
    </div>


  <!-- Example 13: All Inputs and Outputs -->
  <div class="example">
    <h2>13. All Inputs & Outputs</h2>
    <div class="code">
      <pre><code class="language-html">
&lt;ng-country-select
  [lang]="'de'"
  [formControl]="countryControl"
  [showCodes]="true"
  [color]="'primary'"
  [searchAllLanguages]="true"
  [appearance]="'outline'"
  [required]="true"
  [requiredErrorMessage]="'A country is required'"
  [showRequiredErrorMessage]="true"
  [disabled]="false"
  [alpha2Only]="false"
  [alpha3Only]="false"
  [showFlag]="true"
  [placeholder]="'Land auswählen'"
  [debounceTime]="200"
  (countrySelected)="onCountrySelected($event)"
  (inputChanged)="onInputChanged($event)"
&gt;&lt;/ng-country-select&gt;
      </code></pre>
    </div>
    <div class="preview">
      <ng-country-select [lang]="'de'" [formControl]="countryControl" [defaultCountry]="presetCountry" [required]="true"
        [disabled]="false" [showCodes]="true" [color]="'primary'" [searchAllLanguages]="true" [appearance]="'outline'"
        [alpha2Only]="false" [alpha3Only]="false" [placeholder]="'Land auswählen'" [debounceTime]="200"
        [showFlag]="true" (countrySelected)="onCountrySelected($event)"
        (inputChanged)="onInputChanged($event)"></ng-country-select>
      <div>
        Selected: {{ countryControl.value | json }}
      </div>
    </div>
  </div>

</div>